<%- include("partials/_header") %> 


   <body class="main-layout inner_page">
    
      <div class="loader_bg">
         <div class="loader"><img src="images/loading.gif" alt="#"/></div>
      </div>

         <%- include("partials/_navbar") %> 

      
        <div class="contact">
          <div class="container">
            <div class="row">
              <div class="col-md-12 ">
                <div class="titlepage text_align_center">
                  <!-- <span>06</span> -->
                  <h2>Register </h2>
                </div>
              </div>
              <div class="col-md-8 offset-md-2">
                <form id="request rForm" class="main_form" action="users/register" method="post"
                enctype="multipart/form-data">



                  <div class="row">
                    <div class="col-md-12">
                      <input class="form_control" placeholder="Username" type="text" name="username"> 
                    </div>
                   
                    <div class="col-md-12">
                      <input class="form_control" type="file" name="image"> 
                    </div>
                    

                    <div class="col-md-12">
                      <input class="form_control" placeholder="Full Name" type="text" name="fullname"> 
                    </div>
                   
                   <!-- image -->
                    <div class="col-md-12">
                      <input class="form_control" placeholder="email" type="text" name="email">                          
                    </div>
                    
                    <div class="col-md-12">
                      <input class="form_control" placeholder="password" type="password" name="password">                          
                    </div>
                  
                    <div class="col-md-12">
                      <textarea class="form_control" name="bio" placeholder="bio" cols="30" rows="10"></textarea>                      
                    </div>
                   
                    <div class="col-md-12">
                      <div class="group_form">
                        <button type="submit" class="send_btn"> Register </button>
                        <!-- <button class="send_btn">Location</button> -->
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>




    
<%- include("partials/_footer") %> 
    